.login .container {
  width: 30%;
  margin: 50px auto;
}

@media (max-width: 1250px) {
  .login .container {
    width: 60%;
  }
}

@media (max-width: 991px) {
  .login .container {
    width: 60%;
  }
}

@media (max-width: 767px) {
  .login .container {
    width: 90%;
  }
}

.login h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: var(--main_color);
}

.login .mandatory {
  color: red;
  padding-left: 1px;
}

.login .btn {
  width: 100%;
  display: block;
  border-radius: 0.375rem;
  text-align: center;
  transition: 0.3s;
}

.login .btn:hover {
  scale: 1;
  background-color: var(--white_color);
  color: var(--main_color);
}

.login .register {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 5px;
}
