
.category-products .products {
  display: grid;
  grid-template-columns: repeat(auto-fill ,minmax(248px, 1fr));
  gap: 20px;
}

@media (max-width: 991px) {
  .category-products .products {
    grid-template-columns: repeat(auto-fill ,minmax(220px, 1fr));
    gap: 15px;
  }
}

@media (max-width: 767px) {
  .category-products .products {
    grid-template-columns: repeat(auto-fill ,minmax(145px, 1fr));
    gap: 15px;
  }
}

/* slide loading start */
.category-loading .top-slider h2 {
  min-height: 35px;
  width: 248px;
}

@media (max-width: 767px) {
  .category-loading .top-slider h2 {
    min-height: 25px;
    width: 125px;
  }
}

.category-loading .top-slider p {
  min-height: 25px;
  width: 350px;
}

@media (max-width: 767px) {
  .category-loading .top-slider p {
    min-height: 15px;
    width: 175px;
  }
}

.category-loading .products-loading {
  display: flex;
  gap: 20px;
}

@media (max-width: 767px) {
  .category-loading .products-loading {
    gap: 15px;
  }
}

.category-loading .products-loading .product {
  display: flex;
  flex-direction: column;
  width: 250px;
}

@media (max-width: 767px) {
  .category-loading .products-loading .product {
    width: 100%;
  }
}

.category-loading .products-loading .product .image {
  height: 180px;
}

@media (max-width: 767px) {
  .category-loading .products-loading .product .image {
    height: 100px;
  }
}

.category-loading .products-loading .product .content {
  height: 30px;
  margin-bottom: 10px;  
}

@media (max-width: 767px) {
  .category-loading .products-loading .product .content {
    height: 20px;
    margin-bottom: 8px;  
  }
}