.cart {
  margin: 50px auto;
}

@media (max-width: 767px) {
  .cart {
    margin: 20px auto;
  }
}

.cart .checkout {
  width: 45%;
  padding: 0 20px;
  border: 1px solid var(--border_color);
  box-shadow: 0 8px 10px #c0bfbf44;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .cart .checkout {
    width: 85%;
    padding: 0 15px;
  }
}

.cart .checkout h1 {
  padding: 20px 0;
  margin-bottom: 20px;
  color: var(--main_color);
  border-bottom: 1px solid var(--border_color);
}

@media (max-width: 767px) {
  .cart .checkout h1 {
    padding: 15px 0;
    margin-bottom: 15px;
    font-size: 20px;
  }
}

.cart .checkout .items {
  overflow-y: auto;
  height: 350px;
}

.cart .checkout .items .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 125px;
  padding-right: 20px;
}

@media (max-width: 767px) {
  .cart .checkout .items .cart-item {
    height: 100px;
    padding-right: 10px;
  }
}

.cart .checkout .items .cart-item:not(:last-child) {
  border-bottom: 1px solid var(--border_color);
}

.cart .checkout .items .cart-item .item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

@media (max-width: 767px) {
  .cart .checkout .items .cart-item .item-info {
    gap: 0px;
  }
}

.cart .checkout .items .cart-item .item-info .image-item {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .cart .checkout .items .cart-item .item-info .image-item {
    width: 80px;
  }
}

.cart .checkout .items .cart-item .item-info .image-item img{
  height: 80px;
  width: auto;
}

@media (max-width: 767px) {
  .cart .checkout .items .cart-item .item-info .image-item img{
    height: 60px;
  }
}


.cart .checkout .items .cart-item .item-info .item-content h4 {
  margin-bottom: 10px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
}


@media (max-width: 767px) {
  .cart .checkout .items .cart-item .item-info .item-content h4 {
    margin-bottom: 5px;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    font-size: 12px;
  }

  .cart .checkout .items .cart-item .item-info .item-content p {
    font-size: 12px;
  }
}

.cart .checkout .items .cart-item .item-info .item-content .quantity-control {
  display: flex;
  align-items: center;
  margin-top: 5px;
  gap: 5px;
}

.cart .checkout .items .cart-item .item-info .item-content .quantity-control button {
  width: 27px;
  height: 27px;
  font-size: 20px;
  border: 1px solid var(--border_color);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 767px) {
  .cart .checkout .items .cart-item .item-info .item-content .quantity-control button {
    width: 20px;
    height: 20px;
    font-size: 15px;
  }
}

.cart .checkout .items .cart-item .item-info .item-content .quantity-control span {
  min-width: 40px;
  font-size: 18px;
  border: 1px solid var(--border_color);
  background-color: var(--bg_color);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .cart .checkout .items .cart-item .item-info .item-content .quantity-control span {
    min-width: 30px;
    font-size: 14px;
  }
}

.cart .checkout .items .cart-item .del-item {
  background-color: transparent;
  transition: 0.3s;
}

.cart .checkout .items .cart-item .del-item:hover {
  scale: 1.1;
}

.cart .checkout .items .cart-item .del-item svg {
  fill: #e51a1a;
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .cart .checkout .items .cart-item .del-item svg {
    font-size: 20px;
  }
}

.cart .checkout .summary {
  padding-top: 25px;
  border-top: 1px solid var(--border_color);
}

@media (max-width: 767px) {
  .cart .checkout .summary {
    padding-top: 20px;
  }
}

.cart .checkout .summary .info {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border_color);
}

@media (max-width: 767px) {
  .cart .checkout .summary .info {
    padding-bottom: 15px;
  }
}

.cart .checkout .summary .info p {
  font-size: 20px;
  color: var(--heading_color);
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .cart .checkout .summary .info p {
    font-size: 15px;
  }
}

.cart .checkout .summary .info span {
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .cart .checkout .summary .info span {
    font-size: 15px;
  }
}

.cart .checkout .summary button {
  width: 100%;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 700;
  color: var(--white_color);
  background-color: var(--main_color);
  border: 2px solid var(--main_color);
  margin: 30px 0;
  transition: 0.3s ease-in-out;
}

@media (max-width: 767px) {
  .cart .checkout .summary button {
    width: 100%;
    padding: 15px 0;
    font-size: 15px;
    margin: 15px 0;
  }
}

.cart .checkout .summary button:hover {
  background-color: var(--white_color);
  color: var(--main_color);
}

/* Loading */
.title-loading {
  width: 80%;
  height: 20px;
  margin-bottom: 10px;
}

.price-loading {
  width: 50%;
  height: 15px;
}

.quantity-control-loading {
  width: 80px;
  height: 25px;
  margin-top: 10px;
}