.add-address {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.603);
  z-index: 99999999999999;
  display: none;
  overflow-y: auto;
}

.add-address.show-address {
  display: block;
}

.add-address form {
  position: relative;
  width: min-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white_color);
  border-radius: 8px;
}

@media (max-width: 1300px) {
  .add-address form {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}

.add-address .top {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  padding: 24px 24px 16px;
}

.add-address .top svg {
  cursor: pointer;
}

@media (max-width: 767px) {
  .add-address .top {
    padding: 16px 16px 10px;
  }
}

.add-address .bottom {
  padding: 8px 24px 24px;
}

@media (max-width: 767px) {
  .add-address .bottom {
    padding: 5px 16px 16px;
  }
}

.add-address .info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .add-address .info {
    margin-bottom: 10px;
  }
}

.add-address .name {
  display: flex;
  gap: 10px;
}

.add-address .country-city {
  display: flex;
  gap: 10px;
}

.add-address .info label {
  margin-bottom: 8px;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .add-address .info label {
    margin-bottom: 5px;
  }
}

.add-address .info label span {
  margin-left: 2px;
  color: red;
}


.add-address .info input {
  border: 1px solid var(--border_color);
  border-radius: 8px;
  padding: 8px 12px;
}

@media (max-width: 767px) {
  .add-address .info input {
    padding: 5px 10px;
  }
}

@media (max-width: 767px) {
  .add-address .name .info input {
    width: 136px;
  }
}


.add-address .info p {
  margin-top: 8px;
  font-size: 14px;
}


.add-address .btn {
  width: 100%;
  display: block;
  border-radius: 8px;
  border: 2px solid var(--main_color);
}

.add-address .btn:hover {
  scale: 1;
  background-color: var(--white_color);
  color: var(--main_color);
}