.accessories {
  margin: 50px 0;
}

.accessories .products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(248px, 1fr));
  gap: 20px;
  margin: 50px 0;
}

@media (max-width: 991px) {
  .accessories .products {
    grid-template-columns: repeat(auto-fill ,minmax(220px, 1fr));
    gap: 15px;
    margin: 30px 0;
  }
}

@media (max-width: 767px) {
  .accessories .products {
    grid-template-columns: repeat(auto-fill ,minmax(145px, 1fr));
    gap: 15px;
    margin: 20px 0;
  }
}


/* accessories loading start */
.accessories-loading .top-slider h2 {
  min-height: 35px;
  width: 248px;
}

@media (max-width: 767px) {
  .accessories-loading .top-slider h2 {
    min-height: 25px;
    width: 125px;
  }
}

.accessories-loading .top-slider p {
  min-height: 25px;
  width: 350px;
}

@media (max-width: 767px) {
  .accessories-loading .top-slider p {
    min-height: 15px;
    width: 175px;
  }
}

.accessories-loading .products-loading {
  display: grid;
  grid-template-columns: repeat(auto-fill ,minmax(248px, 1fr));
  gap: 20px;
  margin: 50px 0;
}

@media (max-width: 991px) {
  .accessories-loading .products-loading {
    grid-template-columns: repeat(auto-fill ,minmax(220px, 1fr));
    gap: 15px;
    margin: 30px 0;
  }
}

@media (max-width: 767px) {
  .accessories-loading .products-loading {
    grid-template-columns: repeat(auto-fill ,minmax(145px, 1fr));
    gap: 15px;
    margin: 20px 0;
  }
}

.accessories-loading .products-loading .product .content {
  height: 30px;
  margin-bottom: 10px;  
}

@media (max-width: 767px) {
  .accessories-loading .products-loading .product .content {
    height: 20px;
    margin-bottom: 8px;  
  }
}
