/* product start */
.product-details {
  padding: 50px 0;
}

@media (max-width: 767px) {
  .product-details {
    padding: 20px 0;
  }
}

.product-details .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 27px;
}

@media (max-width: 767px) {
  .product-details .container{
    flex-direction: column;
    gap: 27px;
  }
}

.product-details .product-img {
  flex: 4;
}

@media (max-width: 767px) {
  .product-details .product-img {
    width: 100%;
  }
}

.product-details .product-img .big-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.product-details .product-img .big-img img {
  max-height: 450px;
  width: auto;
}

@media (max-width: 767px) {
  .product-details .product-img .big-img img {
    max-height: 225px;
  }
}

.product-details .product-img .sm-imgs {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.product-details .product-img .sm-imgs img {
  width: auto;
  max-height: 120px;
  object-fit: cover;
  border: 2px solid var(--border_color);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.product-details .product-img .sm-imgs img.active {
  border-color: var(--main_color);
}

@media (max-width: 767px) {
  .product-details .product-img .sm-imgs img {
    max-height: 98px;
    padding: 5px;
    border-radius: 5px;
  }
}

.product-details .product-info {
  flex: 6;
}

.product-details .product-info h1 {
  margin-bottom: 30px;
  color: var(--main_color);
  font-size: 32px;
}

.product-details .product-info .rating {
  margin: 15px 0;
  display: flex;
  gap: 5px;
}

.product-details .product-info .rating svg {
  fill: #f8d941;
  font-size: 20px;
}

.product-details .product-info .price {
  font-size: 22px;
  margin: 20px 0;
}

.product-details .product-info h5 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.product-details .product-info .desc {
  line-height: 1.5;
}

.product-details .product-info .stock {
  font-size: 20px;
  margin: 20px 0;
}

.product-details .product-info .btn {
  padding: 12px 15px;
  font-size: 16px;
}

.product-details .product-info .in-cart-btn {
  background-color: var(--white_color);
  color: var(--main_color);
  border: 1px solid var(--main_color);
  cursor: no-drop;
}

.product-details .product-info .in-cart-btn:hover {
 scale: 1;
}

.product-details .product-info .icons {
  margin: 20px 0;
  display: flex;
  gap: 10px;
}

.product-details .product-info .icons span {
  width: 40px;
  height: 40px;
  background-color: var(--bg_color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.product-details .product-info .icons span:hover {
  background-color: var(--main_color);
  color: white;
}

.product-details .product-info .icons span.in-fav {
  background-color: var(--main_color);
  color: white;
}

/* product end */

/* product loading start */
.product-loading .product-details .container {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .product-loading .product-details .container {
    flex-direction: column;
  }
}

.product-loading .product-details .product-img {
  min-height: 600px;  
}

@media (max-width: 767px) {
  .product-loading .product-details .product-img {
    min-height: 345px;
  }
}

.product-loading .product-details .product-info {
  width: 100%;
}

.product-loading .product-details .product-info h1 {
  min-height: 40px;
}


@media (max-width: 767px) {
  .product-loading .product-details .product-info h1 {
    min-height: 30px;
    margin-bottom: 10px;
  }
}
/* product loading end */
















