/* top-header start */
.top-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

@media (max-width: 767px) {
  .top-header .container {
    width: 100%;
    padding: 15px;
  }
}

.top-header .container img{
  width: 160px;
  margin-left: 20px;
}

@media (max-width: 767px) {
  .top-header .container img {
    width: 90px;
    margin-left: 0px;
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .top-header .container img {
    margin-right: 30px;
    margin-left: 0px;
  }
}

.top-header .container .search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-header .container .search-box input {
  height: 45px;
  width: 440px;
  padding: 5px 15px 5px 20px;
  background-color: var(--bg_color);
  border: 1px solid var(--main_color);
  border-radius: 30px 0 0 30px;
}

@media (max-width: 767px) {
  .top-header .container .search-box {
    flex: 1;
  }

  .top-header .container .search-box input {
    width: 100%;
    height: 30px;
    font-size: 10px;
    padding: 5px 10px;
  }
}

.top-header .container .search-box button {
  height: 45px;
  width: 60px;
  background-color: var(--main_color);
  font-size: 18px;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
}

@media (max-width: 767px) {
  .top-header .container .search-box button {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }
}

.top-header .container .search-box button svg{
  fill: var(--white_color);
}

.top-header .container .header-icons {
  display: flex;
  gap: 30px;
  margin-right: 20px;
}

@media (max-width: 767px) {
.top-header .container .header-icons {
    gap: 15px;
    margin-right: 0px;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
.top-header .container .header-icons {
    margin-right: 0px;
    margin-left: 30px;
  }
}

.top-header .container .header-icons .icon {
  cursor: pointer;
  position: relative;
}

.top-header .container .header-icons .icon svg{
  font-size: 30px;
}

@media (max-width: 767px) {
.top-header .container .header-icons .icon svg{
    font-size: 20px;
  }
}

.top-header .container .header-icons .icon .count {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--main_color);
  border-radius: 50px;
  color: var(--white_color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  top: -5px;
  right: -10px;
}

@media (max-width: 767px) {
.top-header .container .header-icons .icon .count {
    width: 15px;
    height: 15px;
    font-size: 8px;
  }
}
/* top-header end */

/* btm-header start */
.btm-hedear {
  background-color: var(--main_color);
}

.btm-hedear .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .btm-header .container {
    width: 100%;
    position: relative;
  }
}

.btm-hedear .container .nav {
  display: flex;
  align-items: center;
  gap: 50px;
  height: 50px;
}

@media (max-width: 767px) {
  .btm-hedear .container .nav {
    flex-direction: row-reverse;
    gap: 20px;
    height: 40px;
  }
}

.btm-hedear .container .nav .category-nav {
  width: 220px;
  height: 100%;
  position: relative;
}

@media (max-width: 767px) {
  .btm-hedear .container .nav .category-nav {
    width: 120px;
  }
}

.btm-hedear .container .nav .category-nav .category-btn {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

@media (max-width: 767px) {
  .btm-hedear .container .nav .category-nav .category-btn {
    padding: 8px;  
  }
}

.btm-hedear .container .nav .category-nav .category-btn p {
  color: var(--white_color);
  font-size: 15px;
  font-weight: 600;
}

@media (max-width: 767px) {
  .btm-hedear .container .nav .category-nav .category-btn p {
    font-size: 8px;
    font-weight: 600;
  }
}

.btm-hedear .container .nav .category-nav .category-btn svg {
  fill: var(--white_color);
  font-size: 20px;
}

@media (max-width: 767px) {
  .btm-hedear .container .nav .category-nav .category-btn .menu-icon {
    display: none;
  }
}

.btm-hedear .container .nav .category-nav .category-nav-list {
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #999;
  border-top: 0;
  background-color: var(--white_color);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  clip-path: inset(0 0 100% 0);
  transition: clip-path 0.3s ease-in-out;
}

.btm-hedear .container .nav .category-nav .category-nav-list.active {
  clip-path: inset(0 0 0 0);
}

.btm-hedear .container .nav .category-nav .category-nav-list .link{
  padding: 14px 10px;
  color: var(--heading_color);
  font-size: 14px;
}

.btm-hedear .container .nav .category-nav .category-nav-list.active .link:not(:last-child){
  border-bottom: 1px  solid var(--border_color);
}

.btm-hedear .container .nav .nav-links {
  display: flex;
  height: 100% ;
  background-color: var(--main_color);
  padding: 0;
}

@media (max-width: 767px) {
  .btm-hedear .container .nav .nav-links {
    position: absolute;
    top: 106.08px;
    left: 0;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    background-color: var(--main_color);
    clip-path: inset(0 0 100% 0);
    transition: clip-path 0.3s ease-in-out;
  }

  .btm-hedear .container .nav .nav-links.open {
    display: flex;
    clip-path: inset(0 0 0 0);
  }
}

.btm-hedear .container .nav .nav-links li.active {
  background-color: #0079ca;
}

.btm-hedear .container .nav .nav-links li {
  display: flex;
  height: 100%;
  transition: 0.5s;
  position: relative;
}

.btm-hedear .container .nav .nav-links li:hover {
  background-color: #0079ca;
}

.btm-hedear .container .nav .nav-links li .link {
  color: var(--white_color);
  height: 100%;
  padding: 0 25px;
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .btm-hedear .container .nav .nav-links li {
    width: 100%;
    height: 50px;
  }

  .btm-hedear .container .nav .nav-links li:not(:last-child) { 
    border-bottom: 1px solid var(--border_color);
  }

  .btm-hedear .container .nav .nav-links li .link {
    padding: 12px 20px;
    width: 100%;
  }
}

.btm-hedear .container .sign-reg-icon {
  display: flex;
  gap: 20px;
}

.btm-hedear .container .sign-reg-icon svg{
  fill: var(--white_color);
  font-size: 22px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle svg {
  font-size: 26px;
  fill: white;
}

@media (max-width: 767px) {
  .menu-toggle {
    display: block;
  }
}
/* btm-header end */


