/* top-header start */

.top-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.top-header .container img{
  width: 160px;
}

.top-header .container .search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-header .container .search-box input {
  height: 45px;
  width: 440px;
  padding: 5px 15px 5px 20px;
  background-color: var(--bg_color);
  border: 1px solid var(--main_color);
  border-radius: 30px 0 0 30px;
}

.top-header .container .search-box button {
  height: 45px;
  width: 60px;
  background-color: var(--main_color);
  font-size: 18px;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
}

.top-header .container .search-box button svg{
  fill: var(--white_color);
}

.top-header .container .header-icons {
  display: flex;
  gap: 30px;
}

.top-header .container .header-icons .icon {
  cursor: pointer;
  position: relative;
}

.top-header .container .header-icons .icon svg{
  font-size: 30px;
}

.top-header .container .header-icons .icon .count {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--main_color);
  border-radius: 50px;
  color: var(--white_color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  top: -5px;
  right: -10px;
} 
/* top-header end */

/* btm-header start */
.btm-hedear {
  background-color: var(--main_color);
}

.btm-hedear .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btm-hedear .container .nav {
  display: flex;
  align-items: center;
  gap: 50px;
  height: 50px;
}

.btm-hedear .container .nav .category-nav {
  width: 220px;
  height: 100%;
  position: relative;
}

.btm-hedear .container .nav .category-nav .category-btn {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.btm-hedear .container .nav .category-nav .category-btn p {
  color: var(--white_color);
  font-size: 15px;
  font-weight: 600;
}

.btm-hedear .container .nav .category-nav .category-btn svg {
  fill: var(--white_color);
}

.btm-hedear .container .nav .category-nav .category-nav-list {
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #999;
  border-top: 0;
  background-color: var(--white_color);
  position: absolute;
  top: 100%;
  left: 0;
  clip-path: inset(0 0 100% 0);
  transition: clip-path 0.3s ease-in-out;
}

.btm-hedear .container .nav .category-nav .category-nav-list.active {
  clip-path: inset(0 0 0 0);
}

.btm-hedear .container .nav .category-nav .category-nav-list .link{
  padding: 14px 10px;
  color: var(--heading_color);
  font-size: 14px;
}

.btm-hedear .container .nav .category-nav .category-nav-list.active .link:not(:last-child){
  border-bottom: 1px  solid var(--border_color);
}

.btm-hedear .container .nav .nav-links {
  display: flex;
  height: 100%;
}

/* .btm-hedear .container .nav .nav-links li::after {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  background-color: yellow;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}

.btm-hedear .container .nav .nav-links li:hover::after {
  width: 100%;
} */

.btm-hedear .container .nav .nav-links .active {
  background-color: #0079ca;
}

.btm-hedear .container .nav .nav-links li {
  display: flex;
  height: 100%;
  transition: 0.5s;
  position: relative;
}

.btm-hedear .container .nav .nav-links li:hover {
  background-color: #0079ca;
}

.btm-hedear .container .nav .nav-links li .link {
  color: var(--white_color);
  height: 100%;
  padding: 0 25px;
  display: flex;
  align-items: center;
}


.btm-hedear .container .sign-reg-icon {
  display: flex;
  gap: 20px;
}

.btm-hedear .container .sign-reg-icon svg{
  fill: var(--white_color);
  font-size: 22px;
}


/* btm-header end */









