.favorites-products .products {
  display: grid;
  grid-template-columns: repeat(auto-fill ,minmax(248px, 1fr));
  gap: 20px;
  margin: 50px 0;
}

@media (max-width: 991px) {
  .favorites-products .products {
    grid-template-columns: repeat(auto-fill ,minmax(220px, 1fr));
    gap: 15px;
    margin: 30px 0;
  }
}

@media (max-width: 767px) {
  .favorites-products .products {
    grid-template-columns: repeat(auto-fill ,minmax(145px, 1fr));
    gap: 15px;
    margin: 20px 0;
  }
}
