.favorites-products .products {
  display: grid;
  grid-template-columns: repeat(auto-fill ,minmax(248px, 1fr));
  gap: 20px;
  margin: 50px 0;
}

@media (max-width: 991px) {
  .favorites-products .products {
    grid-template-columns: repeat(auto-fill ,minmax(220px, 1fr));
    gap: 15px;
    margin: 30px 0;
  }
}

@media (max-width: 767px) {
  .favorites-products .products {
    grid-template-columns: repeat(auto-fill ,minmax(145px, 1fr));
    gap: 15px;
    margin: 20px 0;
  }
}

.favorites-products-loading .products-loading {
  display: grid;
  grid-template-columns: repeat(auto-fill ,minmax(248px, 1fr));
  gap: 20px;
  margin: 50px 0;
}

@media (max-width: 991px) {
  .favorites-products-loading .products-loading {
    grid-template-columns: repeat(auto-fill ,minmax(220px, 1fr));
    gap: 15px;
    margin: 30px 0;
  }
}

@media (max-width: 767px) {
  .favorites-products-loading .products-loading {
    grid-template-columns: repeat(auto-fill ,minmax(145px, 1fr));
    gap: 15px;
    margin: 20px 0;
  }
}

.favorites-products-loading .products-loading .product .content {
  height: 30px;
  margin-bottom: 10px;  
}

@media (max-width: 767px) {
  .favorites-products-loading .products-loading .product .content {
    height: 20px;
    margin-bottom: 8px;  
  }
}