/* top slide start */
.slider {
  padding: 50px 0;
}

.slider .top-slider {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border_color);
  padding: 15px 20px 20px 0;
  position: relative;
}

.slider .top-slider::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: var(--main_color);
  bottom: -1px;
}

.slider .top-slider h2 {
  font-size: 30px;
  color: var(--main_color);
  margin-bottom: 10px;
  text-transform: capitalize;
}
/* top slide end */

/* slide products start */



/* slide products end */

/* product start */
.product .container {
  width: 250px;
  padding: 25px 15px;
  border: 1px solid var(--border_color);
  margin: 0;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
}
.product .container:hover {
  border-color: var(--main_color);
  box-shadow: 10px 10px 15px #94949429;
}

.product .image {
  height: 180px;
  padding: 0 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.product .image img {
  height: 160px;
  width: auto;
  transition: 0.3s;
}

.product:hover .image img {
  scale: 1.1;
}


.product .title {
  margin-bottom: 10px;
  color: var(--color_heading);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.product .stars {
  margin: 15px 0;
  display: flex;
  gap: 5px;
}

.product .stars svg{
  font-size: 18px;
  fill: #f8d941;
}

.product .price {
  font-weight: bold;
  font-size: 20px;
}

.product .icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -18%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 0.3s;
}

.product:hover .icons {
  right: 20px;
}

.product .icons span { 
  height: 40px;
  width: 40px;
  background-color: var(--bg_color);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* product end */
