/* slide products start */
.slider {
  padding: 50px 0;
}

@media (max-width: 991px) {
  .slider {
    padding: 30px 0;
  }
}

@media (max-width: 767px) {
  .slider {
    padding: 20px 0;
  }
}

@media (max-width: 767px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 20px;
    height: 20px;
  }

}
/* slide products end */

/* product start */
.product {
  margin-right: 20px;
  padding: 25px 15px;
  border: 1px solid var(--border_color);
  margin: 0;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
}

@media (max-width: 991px) {
  .product {
    padding: 15px 10px;
  }
}

@media (max-width: 767px) {
  .product {
    padding: 15px 10px;
  }
}

.product:hover {
  border-color: var(--main_color);
  box-shadow: 10px 10px 15px #94949429;
}

.product .in-cart-check {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .product .in-cart-check {
    position: absolute;
    font-size: 10px;
    gap: 5px;
    transition: 0.3s;
  }
}


.product .in-cart-check.in-cart {
  top: 5px;
}

.product .in-cart-check svg{
  fill: #2cfc03;
}

.product .image {
  height: 180px;
  padding: 15px 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

@media (max-width: 991px) {
  .product .image {
    height: 90px;
    padding: 10px 15px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .product .image {
    height: 100px;
    padding: 8px 5px;
    margin-bottom: 12px;
  }
}

.product .image img {
  height: 160px;
  width: auto;
  transition: 0.3s;
}

@media (max-width: 991px) {
  .product .image img {
    height: 100px;
  }
}

@media (max-width: 767px) {
  .product .image img {
    height: 90px;
  }
}

.product:hover .image img {
  scale: 1.1;
}

.product .title {
  margin-bottom: 10px;
  color: var(--color_heading);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 1;
}

@media (max-width: 991px) {
  .product .title {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .product .title {
    font-size: 12px;
  }
}

.product .stars {
  margin: 15px 0;
  display: flex;
  gap: 5px;
}

@media (max-width: 991px) {
  .product .stars {
    margin: 5px 0;
    gap: 1px;
  }
}

@media (max-width: 767px) {
  .product .stars  {
    margin: 5px 0;
    gap: 1px;
  }
}

.product .stars svg {
  font-size: 18px;
  fill: #f8d941;
}

@media (max-width: 991px) {
  .product .stars svg  {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .product .stars svg  {
    font-size: 10px;
  }
}

.product .price {
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 991px) {
  .product .price {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .product .price {
    font-size: 12px;
  }
}
.product .icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 0.3s;
}

.product:hover .icons {
  right: 20px;
}

@media (max-width: 991px) {
  .product:hover .icons {
    right: 10px
  }
}

@media (max-width: 767px) {
  .product:hover .icons {
    right: 6px
  }
}

.product .icons span { 
  height: 40px;
  width: 40px;
  background-color: var(--bg_color);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.product .icons span.in-cart {
  background-color: var(--main_color);
  color: var(--white_color);
  pointer-events: none;
}

.product .icons span.in-fav {
  background-color: var(--main_color);
  color: var(--white_color);
}

@media (max-width: 991px) {
  .product .icons span {
    height: 25px;
    width: 25px;
  }

  .product .icons span svg {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .product .icons span {
    height: 20px;
    width: 20px;
  }

  .product .icons span svg {
    font-size: 10px;
  }
}
/* product end */

/* slide loading start */
.slide-loading .top-slider h2 {
  min-height: 35px;
  width: 250px;
}

@media (max-width: 767px) {
  .slide-loading .top-slider h2 {
    min-height: 25px;
    width: 125px;
  }
}

.slide-loading .top-slider p {
  min-height: 25px;
  width: 350px;
}

@media (max-width: 767px) {
  .slide-loading .top-slider p {
    min-height: 15px;
    width: 175px;
  }
}

.slide-loading .products-loading {
  display: flex;
  gap: 20px;
}

@media (max-width: 767px) {
  .slide-loading .products-loading {
    gap: 15px;
  }
}

.slide-loading .products-loading .product {
  display: flex;
  flex-direction: column;
  width: 250px;
}

@media (max-width: 767px) {
  .slide-loading .products-loading .product {
    width: 100%;
  }
}

.slide-loading .products-loading .product .image {
  height: 180px;
}

@media (max-width: 767px) {
  .slide-loading .products-loading .product .image {
    height: 100px;
  }
}

.slide-loading .products-loading .product .content {
  height: 30px;
  margin-bottom: 10px;  
}

@media (max-width: 767px) {
  .slide-loading .products-loading .product .content {
    height: 20px;
    margin-bottom: 8px;  
  }
}
/* slide loading end */