@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main_color: #0090f0;
  --p_color: #7b7b7b;
  --bg_color: #F3F3F3;
  --white_color: #fff;
  --heading_color: #253237;
  --border_color: #d6d6d6d5;
}

body {
  background-color: #fff;
  font-family: "Inter", sans-serif;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading_color);
  font-family: "DM Sans", sans-serif;
}

span {
  color: var(--main_color);
}

p {
  color: var(--p_color);
}

input, button, select, textarea {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: var(--heading_color);
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1350px;
}