@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main_color: #0090f0;
  --p_color: #7b7b7b;
  --bg_color: #F3F3F3;
  --white_color: #fff;
  --heading_color: #253237;
  --border_color: #d6d6d6d5;
}

body {
  background-color: #fff;
  font-family: "Inter", sans-serif;
  padding-top: 150px;
}

@media (max-width: 767px) {
  body {
    padding-top: 110px;
  }
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading_color);
  font-family: "DM Sans", sans-serif;
  line-height: normal;
  font-size: inherit;
  font-weight: 700;
  margin: 0;
}

span {
  color: var(--main_color);
}

p {
  color: var(--p_color);
  margin-bottom: 0;
}

input, button, select, textarea {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: var(--heading_color);
}

ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0rem;
}

body .btn {
  width: max-content;
  padding: 10px 18px;
  background-color: var(--main_color);
  color: var(--white_color);
  text-transform: capitalize;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s;
}

body .btn:disabled {
  opacity: 1;
}

body .btn:hover {
  scale: 1.1;
  background-color: var(--main_color);
  color: var(--white_color);
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: none !important; /* يلغي Bootstrap */
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px
  }
}

/* Large */
@media (min-width: 1350px) {
  .container {
    width: 1350px;
  }
}

header {
  position: fixed;
  z-index: 999999999999999;
  background-color: var(--white_color);
  width: 100%;
  top: 0;
}

/* skeltoin loading */

.skeltoin {
  background-color: #e2e5e7;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  animation: shine 1s ease infinite;
}

@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}

/* toast-wrapper*/

.toast-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 300px;
  max-width: 300px;
}

@media (max-width: 767px) {
  .toast-wrapper {
    gap: 10px;
    min-width: 150px;
    max-width: 150px;
  }
}

.toast-wrapper img {
  height: 50px;
  width: auto;
  object-fit: cover;
}

@media (max-width: 767px) {
  .toast-wrapper img {
    height: 60px;
  }
}

.toast-wrapper .toast-contet {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
}

@media (max-width: 767px) {
  .toast-wrapper .toast-contet {
    font-size: 12px;
  }
}

.toast-wrapper .toast-contet strong {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 1;
}

.toast-wrapper .toast-contet button {
  margin-top: 5px;
  font-size: 13px;
}

@media (max-width: 767px) {
  .toast-wrapper .toast-contet button {
    margin-top: 5px;
    font-size: 11px;
    padding: 6px 12px;
  }
}


/* top slide */
.top-slider {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border_color);
  padding: 15px 20px 20px 0;
  position: relative;
}

.top-slider::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: var(--main_color);
  bottom: -1px;
}

.top-slider h2 {
  font-size: 30px;
  color: var(--main_color);
  margin-bottom: 10px;
  text-transform: capitalize;
}

@media (max-width: 991px) {
  .top-slider h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

@media (max-width: 767px) {
  .top-slider h2 {
    font-size: 15px;
    margin-bottom: 5px;
  }
}

@media (max-width: 991px) {
  .top-slider p {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .top-slider p {
    font-size: 12px;
  }
}